<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Task</title>
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        <div id="app">
            <div class="appName">My Tasks</div>

            <div class="add">
                <button @click="showInput()" id="addTask" title="新增工作"><i class="bx bx-message-square-add"></i> 新增工作</button>
            </div>
            <div class="newTask fade-transition" :class="{ 'fade-enter-active': addShow }">
                <input id="newTask" class="inputText" @blur="addNewTask($event)" @keyup.enter="addNewTask($event)" placeholder="輸入工作內容"/>
            </div>
            <div v-for="task in tasks" :key="task._id" class="taskslist">
                <input type="checkbox" v-model="task.done" @change="updateTask(task._id,task.description, task.done)" class="checkBtn" />

                <input
                    v-model="task.description"
                    @focus="$event.target.select()"
                    @change="updateTask(task._id,task.description, task.done)"
                    class="updateInput"
                    title="點擊編輯"
                    :class="task.done ? 'done':''"
                />
                <button @click="deleteTask(task._id)" class="delBtn" title="刪除"><i class="bx bx-trash"></i></button>
            </div>
        </div>

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.3/axios.min.js"
            integrity="sha512-JWQFV6OCC2o2x8x46YrEeFEQtzoNV++r9im8O8stv91YwHNykzIS2TbvAlFdeH0GVlpnyd79W0ZGmffcRi++Bw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./script.js"></script>
    </body>
</html>
